// background
$body-bg: #fff;

// fonts
$roboto-condensed: "Roboto-Condensed";
$roboto-bold-condensed: "Roboto-BoldCondensed";

// colors
$primary-color: rgb(0, 82, 150);
$secondary-color: rgb(108, 117, 125);
$success-color: rgb(0, 150, 63);
$warning-color: rgb(255, 111, 0);
$info-color: rgb(0, 159, 227);
$danger-color: rgb(183, 28, 28);
$black: rgb(23, 23, 23);
$gray: #706f6f;