// variables
@import 'variables';
// mixins
@import 'mixins';
// bootstrap
@import 'bootstrap/scss/bootstrap';


// card
$bg-card-primary: #000;
$bg-card-secondary: #423f3f;
// card box shadow
$shadow-color-primary: #191970;
$shadow-color-secondary: #0a505b;
// card color text
$color-text: #fff;

html, body {
  background-color: $body-bg;
  font-family: $roboto-condensed !important;
  margin: auto;
  padding: 0;
  height: 100%;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family: $roboto-bold-condensed !important;
}

.card-box {
  @include card($bg-card-primary, $color-text, $shadow-color-primary);
  &:hover {
    @include card($bg-card-secondary, $color-text, $shadow-color-secondary);
  }
}


.loading {
  position: absolute;
  left: calc(18% - 45px);
  top: 45%
}

#app {
  min-height: 100%;
  position: relative;
}
#app {
  height:100%;
}